.arrows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 100%;
  margin-top: 200px;
  padding: 0px 60px;
  justify-content: space-between;
  cursor: pointer;
}

.road {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 5px;
  top: 594px;
}

.imagesTop {
  position: absolute;
  top: 340px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.imagesTopCT {
  position: absolute;
  top: 267px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.imagesBottom {
  position: absolute;
  top: 530px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  z-index: 10;
  cursor: pointer;
}

.imagesBottomMandD {
  padding-top: 30px;
  position: absolute;
  top: 530px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  z-index: 10;
  cursor: pointer;
}

.cloud {
  opacity: 50%;
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.cloud01 {
  padding-top: 70px;
  opacity: 1;
}

.cloud02 {
  padding: 20px;
}

.cloud03 {
  padding: 90px;
}

.cloud04 {
  padding-top: -50px;
}

.cloud05 {
  padding: 90px;
}

.h2 {
  font-size: 30px;
  font-weight: 700;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  align-items: center;
}

.DDdot,
.DDPCdot,
.PCdot,
.INDdot,
.CTdot,
.NDAdot,
.MandDDot {
  margin-right: 30px;
  height: 30px;
  width: 30px;
  margin-top: 25px;
  position: relative;
  z-index: 20;
  border-radius: 50%;
}

.DDdot {
  background: red;
}

.DDPCdot {
  background: rgb(240, 75, 56);
  background: -moz-linear-gradient(
    100deg,
    rgba(240, 75, 56, 1) 0%,
    rgba(242, 222, 33, 1) 100%
  );
  background: -webkit-linear-gradient(
    100deg,
    rgba(240, 75, 56, 1) 0%,
    rgba(242, 222, 33, 1) 100%
  );
  background: linear-gradient(
    100deg,
    rgba(240, 75, 56, 1) 0%,
    rgba(242, 222, 33, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f04b38",endColorstr="#f2de21",GradientType=1);
}

.PCdot {
  background: #f2de21;
}

.INDdot {
  background: #3fb5dc;

  border: 1px solid darkgrey;
}

.CTdot {
  background: #912af4;
}

.NDAdot {
  background: #ff9900;
}

.MandDDot {
  background: #70ff00;
}

.phases {
  font-size: 2rem;
}

/* CLOUD ANIMATION */

.cloud01 {
  animation: cloud01 30s ease 0s 10 normal forwards;
}

@keyframes cloud01 {
  0% {
    transform: translateX(21px);
  }

  100% {
    transform: translateX(-250px);
  }
}

.cloud02 {
  animation: cloud02 30s ease 0s 10 normal forwards;
}

@keyframes cloud02 {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-250px);
  }
}

.cloud03 {
  animation: cloud02 30s ease 0s 10 normal forwards;
}

@keyframes cloud03 {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-250px);
  }
}

.cloud04 {
  animation: cloud02 30s ease 0s 10 normal forwards;
}

@keyframes cloud04 {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-250px);
  }
}

.cloud05 {
  animation: cloud02 30s ease 0s 10 normal forwards;
}

@keyframes cloud05 {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-250px);
  }
}
