.arrows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  margin-top: 200px;
  padding: 0px 60px;
  justify-content: space-between;
  cursor: pointer;
}

.road {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 5px;
  top: 560px;
}

.imagesAll {
  position: absolute;
  top: 340px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  width: 1280px;
  display: flex;
}
