.hero {
z-index: 0;
}

.road {
height: 10px;
width: 100%;
z-index: 1;
bottom: 220px;
position: absolute;
background-size: 10px 1px;
}

.arrows > span {
position: absolute;
z-index: 2;
cursor: pointer;

}

.arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    top: 300px;
    position: absolute;
    height: 20px;
    width: 100%;
  }