@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nunito';
  font-display: block !important; /* Fix flickering */
}

body {
  padding: 0;
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #2f2f2f;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: ghostwhite;
  font-size: 18px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: ghostwhite;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.bold {
  font-weight: 700;
}

.center {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  align-content: center !important;
  align-items: center !important;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
  color: ghostwhite !important;
  text-transform: none;
}

.MuiButtonBase-root {
  text-transform: none !important;
  font-family: 'Nunito', sans-serif !important;
  font-size: inherit !important;
}

.MuiButton-root {
  color: red;
  text-transform: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  background-color: #dcdcdc;
  padding: 12px 24px;
  border-radius: 25px;
  color: #1e1d1d;
  transition: all 150ms ease;
  cursor: pointer;
  border: none;
}

.MuiButton-root:hover {
  background-color: #a9a9a9;
}

.MuiButton-root.active {
  background-color: #808080;
}

.noBackground {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: none;
}

.footer {
  background-color: #2f2f2f;
}

.vheight {
  min-height: 100vh;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.researchButtons {
  color: ghostwhite;
  border: 1px solid ghostwhite;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}

.researchButtons:hover {
  background: darkgrey;
}

.researchButtonPanel {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.button {
  text-transform: none !important;
  padding: 15px 30px !important;
  text-decoration: none !important;
  color: white !important;
  font-size: 20px !important;
  border: 1px solid white !important;
  border-radius: 80px !important;
  margin: 30px 0px !important;
  font-size: 18px;
}

.Mui-selected {
  color: ghostwhite !important;
}

.white {
  color: ghostwhite;
}

.black {
  color: #1e1d1d;
}

.red {
  background: #f04b38;
  color: black;
}

.orangeGradient {
  background: rgb(240, 75, 56);
  background: -moz-linear-gradient(
    90deg,
    rgba(240, 75, 56, 1) 0%,
    rgba(242, 222, 33, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(240, 75, 56, 1) 0%,
    rgba(242, 222, 33, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(240, 75, 56, 1) 0%,
    rgba(242, 222, 33, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f04b38",endColorstr="#f2de21",GradientType=1);
  color: black;
}

.orange {
  background: #ff9900;
  color: black;
}

.yellow {
  background: #f2de21;
  color: black;
}

.green {
  background: #70ff00;
  color: black;
}

.blue {
  background: #3fb5dc;
  color: black;
}

.purple {
  background: #912af4;
  color: ghostwhite;
}

.fade {
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.tooltipSize {
  width: 130px;
  height: 130px;
}

.shadow {
  height: 250px;
  width: 250px;
  z-index: -1;
  border-radius: 50%;
  display: inline-block;
  background: -moz-radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5088410364145659) 0%,
    rgba(255, 255, 255, 0) 49%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5088410364145659) 0%,
    rgba(255, 255, 255, 0) 49%
  );
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5088410364145659) 0%,
    rgba(255, 255, 255, 0) 49%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

@media only screen and (max-width: 808px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  p {
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 2rem 0 1rem;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.441rem;
  }

  h2 {
    font-size: 1.953rem;
  }

  h3 {
    font-size: 1.563rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }
}
