

/* this project owner is not concerned about google ranking or seo, so this is an h2 instead of an h1 */
.title {
  font-size: 36px;
  text-align: center;
  font-family: Nunito;
  color: white;
  letter-spacing: 1px;
  line-height: 40px;
 }



.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
