.navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: #2f2f2f;
}

.navbar a,
.navbarMobile a {
  font-size: 16px;
  color: ghostwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

.navbarMobile a {
  font-size: 16px;
  color: ghostwhite;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

.navbarMobile {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 20px 0px #00000057;
  border-radius: 50px;
}

.navContent {
  display: flex;
  flex-direction: row;
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* $ HAMBURGER ANIMATIONS */

/****** Rotate Center ******/

.rotateCenter {
  -webkit-animation: rotateCenter 0.6s ease-in-out both;
  animation: rotateCenter 0.6s ease-in-out both;
  display: flex;
  cursor: pointer;
}

@-webkit-keyframes rotateCenter {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateCenter {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/****** Flip Horizontal Bottom ******/

.flipHorizontalBottom {
  -webkit-animation: flipHorizontalBottom 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flipHorizontalBottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  display: flex;
  cursor: pointer;
}

@-webkit-keyframes flipHorizontalBottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flipHorizontalBottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
