/* New changes */

.navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: #2f2f2f;
}

.navbar a {
  font-size: 16px;
  color: ghostwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

.navContent {
  display: flex;
  flex-direction: row;
}

/* 808px is the width where the nav begins to crumple */

@media only screen and (max-width: 808px) {
  .navbar {
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 30px;
    background: dimgrey;
    margin-bottom: 60px;
  }

  .navbar a {
    padding: 7px 16px;
  }
}
