.tabs {
  color: white;
  display: flex;
  align-items: center;
}

.items {
  display: flex !important;
  justify-content: center;
}

.wrapper,
.researchBackground {
  position: relative;
}

.MuiBox-root {
  color: white !important;
  display: flex;
  justify-content: center;
}

/* .tabStyle {
  text-transform: none;
  color: ghostwhite;
  font-family: Nunito;
  font-size: 1.25rem;
} */

.tabItem {
  padding: 5px;
  border-radius: 30px !important;
}

.colours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
