.tabs {
  color: white;
  display: flex;
  align-items: center;
}

.items {
  display: flex !important;
  justify-content: center;
}

.wrapper,
.researchBackground {
  position: relative;
}

.red,
.orangeGradient,
.orange,
.yellow,
.green,
.blue,
.purple {
  padding: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: #2f2b2b 3px 3px 12px;
  -moz-box-shadow: #2f2b2b 3px 3px 12px;
  box-shadow: #2f2b2b 3px 3px 12px;
}
.tooltipTitle {
  margin-top: 15px !important;
}
