.tabs {
  color: white;
  display: flex;
  align-items: center;
}

.items {
  display: flex !important;
  justify-content: center;
}

.research {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
}

.wrapper,
.researchBackground {
  position: relative;
}

.MuiBox-root {
  color: white !important;
  display: flex;
  justify-content: center;
}

.pylons {
  position: absolute;
}

.tabStyle {
  text-transform: none;
  color: ghostwhite;
  font-family: Nunito;
  font-size: 1.25rem;
}

.tabItem {
  padding: 15px;
}

.coloursLegend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
